@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}


html{
    overflow-x: hidden;
    
}
body{
    
    background: #0C0C0C;

}

.bg-color{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    /* z-index: 1; */
    background-image: url('./img/BgColor1.svg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;


}
iframe{
    z-index: 3;

}
.lines-bg{
    position: absolute;
    z-index: 1;

}

.main{
    
    padding-top: 90px;
    z-index: 2;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.left{
    align-items: center;
    width: 50%;
    display: flex;

}
.kezia{
    max-width: 90%;
   
}
.titlle{
    width: 65%;


}

.rigth{
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;     
}
h2{
margin-top: 20px;
margin-bottom: 20px;
font-family: Raleway;
font-weight: bold;
font-size: 35px;
line-height: 100%;
color: #FFFFFF;
}

.text{
font-family: Raleway;
font-size: 20px;
line-height: 200%;
text-align: justify;
color: #A3A3A3;
}
.mid{
margin-top: 114px;
display: flex;
flex-direction: column;
align-items: center;

}

.news{
    width: 220px;
    height: 50px;
}
.h2-mani{
font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 700;

letter-spacing: 0em;
text-align: center;

}
.p-man{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    text-align: center;
    
    color: #8F8F8F;
    margin-bottom: 20px;
    
}

.desemp .video iframe{
    width:70%;
    height:573px; 
}

.video{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
   
}

.icones{
    /* position: relative; */
    display: flex;
  justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 81px 163px;
    margin: 62px 0px 124px;
}

.icone{
    background: linear-gradient(#211D16, #221E17) padding-box,
    linear-gradient(to bottom, #D8B66D, transparent) border-box;
    border: 1px solid transparent;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;

}
.icone-pai {
color:  #FFFFFF;
font-family: Raleway;
font-size: 18px;
font-weight: 400;
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
gap: 12px;
align-items: center;


}

.modelo{
    /* position: relative; */
    display: flex;
  justify-content: center;
   align-content:center;
   align-items: flex-start;
    gap: 70px;
   flex-flow: row wrap;
   margin-bottom: 100px;
padding: 18px;
}

.line{
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 147px;
    width:352px ;
    height: 2px ;
    background: #EDEFF0;
    box-shadow: 0px 0px 177px 4px rgba(216, 182, 109, 0.35), 0px 0px 96px 18px rgba(216, 182, 109, 0.25), 0px 0px 14px 1px rgba(216, 182, 109, 0.4), 0px 0px 4px 1px rgba(216, 182, 109, 0.5);
    border-radius: 8px;

}
.linetop{
    margin-top: 28px;
    width:352px ;
    height: 2px ;
    background: #EDEFF0;
    box-shadow: 0px 0px 177px 4px rgba(216, 182, 109, 0.35), 0px 0px 96px 18px rgba(216, 182, 109, 0.25), 0px 0px 14px 1px rgba(216, 182, 109, 0.4), 0px 0px 4px 1px rgba(216, 182, 109, 0.5);
    border-radius: 8px;
}

.contato{

display: flex;
align-items: center;
justify-content: center;
}

.contato p {

font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 42px;
text-align: center;
color: #FFFFFF;
}
.flecha{
    /* position: relative; */
    display: flex;

    display: flex;
}
.foter{

    border-top: 0.4px solid #FFF2E7 ;
   margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
 

}


.corp{
    display: flex;
    position: inline;
    flex-direction: row ;
    align-items: center;
}
.corp p{
font-family: Raleway;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: right;
color: #8F8F8F;
}

@media screen and (max-width:960px ) {

    
.main{
    
    flex-direction:column;

}
.left{
    width: 100%;
}

.rigth{
    align-items: center;
    margin-top: 90px;
    width: 100%;
}

.sub{
    text-align: center;
}
.text{
    text-align: center;
}
.bg-color{
    background-image: url('./img/BlurMob\ 1.svg');

}






    .desemp .video iframe{
        width:70%;
        height:350px; 
        
    }

    .icones{
        gap: 50px 120px;
        margin: 62px 0px 124px;
    }
    .line{
        /* position: relative; */
        width: 55%;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 10%;
        margin-top: 5%;
        left: 7%;
    }

    .contato{
        top: -50%;
        margin: 20px;
        flex-direction: column;
        left: 5%;

    }
    .flecha{
        margin-top: 10%;
        left: -20%;
        padding: 20px;
    }

    .foter{
        flex-direction: column;
        
        
    }
    .logof {
        display: flex;
        /* position: relative; */
        margin: 50px;
        left: %;
        justify-content: center;
    }
    .corp p {
        /* position: relative; */
       text-align: center;
       left: %;
    }

    .modelo{
        /* position: relative; */
        display: flex;
       align-content:center;
        gap: 70px;
       margin-bottom: 100px;
    }
    
  
}